---
layout: default
---

<div class="home">
  <div class="head bgi table" style="background-image: url(/assets/img/bannerIntervals.jpg)">
  </div>

  <div class="bgi aoc bgt nopadding a-grid">
    <div class="div-0"><div class="div-1"><div class="div-3"></div></div></div>
    
    {% for post in site.posts %}
    <div class="sec-title">
      <div class="sec-title-2">
        <div class="a-capsule">
          <div class="sec-title-2 bm20">
            <div class="b-capsule">
              <div class="rn cy rz alc aqr">
                <img src="/assets/img/{{ post.image }}">
                <div class="ro amz">
                  <h4 class="alc">{{ post.title }}</h4>
                  <p><em>{{ post.excerpt | strip_html | truncatewords: 40 }}</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <!--{% for post in site.posts %}
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="bgi aoc bgt h">
      <div class="div-0"><div class="div-1" style="background-image: url(/assets/img/{{ post.image }})"></div></div>
      <div class="sec-title">
        <div class="sec-title-2">
          <div class="sec-title-width">
            <h1 class="sec-title-space">
              <span class="title">
                <span>{{ post.title }}</span>
              </span>
            </h1>
            <p class="sec-title-space sub-title">
              <span class="title">
                <span>{{ post.description }}</span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}!-->
  
</div>
