/*! intervals.css v0.0.1 | MIT License */

/* Home settings */

.home{
	background-color: #000000;
}
.bgi{
  position: relative;
  width: 100%;
  padding: 60px 30px;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.table {
  display: table;
  width: 100%;
  height: 90vh;
}

.cellH {
    display: table-cell;
    vertical-align: bottom;
}

.sec-title {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .sec-title {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .sec-title {
    width: 880px;
  }
}
@media (min-width: 1200px) {
  .sec-title {
    width: 1020px;
  }
}

.sec-title-2 {
  margin-left: -10px;
  margin-right: -10px;
}

.home .sec-title-width {
	width: 41.66666667%;
}

.home .sec-title-space {
  margin-bottom: 30px !important;
}

h1.home-title {
  font-size: 42px;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .head.bgi {
    padding: 120px 0;
  }
  .cellH {
    display: table-cell;
    vertical-align: middle;
  }
  
  h1.home-title {
    font-size: 56px;
  }
}

.title {
  position: relative;
  left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee04a;
  overflow: hidden;
}

.title:before {
  position: absolute;
  top: 0;
  right: 100%;
  content: '';
  width: 20px;
  height: 100%;
  bottom: 0;
  background-color: inherit;
}

.title span {
  position: relative;
  left: -10px;
}

@-moz-document url-prefix() {
  .title {
    box-decoration-break: clone;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .title span {
    left: auto;
  }
  .title:before {
    display: none;
  }
}

.sub-title {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .sub-title {
    font-size: 21px;
  }
}

.head .sec-title-2 {
  margin-bottom: 75px;
}

/* End home settings */

/* Home Sections */

.bgt {
  background-color: transparent;
}

.nopadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Artist grid */

.a-grid .sec-title {
  position: relative;
  top: -75px;
  z-index: 2;
}

.a-grid {
  margin-top: -25px;
  height: 608px;
}
.a-grid .e {
  position: relative;
  top: -75px;
  z-index: 2;
}
.a-grid img {
  width: 100%;
}

.a-capsule, .b-capsule {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .a-capsule {
    float: left;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .a-capsule {
    float: left;
    width: 33.33333333%;
  }
  .b-capsule {
	float: left;
	width: 100%;
  }
}

.bm20 {
  margin-bottom: 20px !important;
}

/* Cambiar nombre */
.rn {
  margin-bottom: 22px;
  background-color: #151515;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.cy {
  background-color: #dddddd;
  border: 0;
}
.cy.rz {
  background-color: #0049AA;
}
.alc {
  margin-bottom: 0 !important;
}
.ro {
  padding: 30px;
}
.ro:before,
.ro:after{
  content: " ";
  display: table;
}
.ro:after{
  clear: both;
}
.amz {
  padding-bottom: 60px !important;
}


/* Division */
.aoc {
  color: #ffffff;
}

.div-0{
  position: absolute;
  top: -25px;
  right: 0;
  bottom: -25px;
  left: 0;
  overflow: hidden;
  height: 670px;
}

.div-0 .sec-title {
  position: relative;
  top: -75px;
  z-index: 2;
}

.div-1 {
  background-color: #000;
  position: absolute;
  top: 25px;
  right: -25px;
  bottom: 25px;
  left: -25px;
  overflow: hidden;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.div-3{
  position: absolute;
  top: -25px;
  right: 0;
  bottom: -25px;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

/* Posts */
.aoo {
  margin-bottom: -25px;
}

.h {
  z-index: 4;
  height: 400px;
}
.div-1 {
  border-bottom: 10px solid #F8DE19;
}

.aoc .aob {
  height: 400px;
  background-position: center;
}
.aod {
  background-position: top;
}

.h .div-0{
	height: 450px;
}

.h .title {
	background-color: #F7250D;
	color: #FFF;
}

/* End home sections */

/* Footer */
body {
  background-color: #151515;
}
footer.bgi {
  background-color: #151515;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footerRight {
    width: 100%;
    text-align: right;
}

@media (min-width: 768px) {
  .footerRight {
    width: 50%;
    float: right;
  }
}

footer p {
  font-weight: 400;
  padding-bottom: 10px;
  font-size: small;
}
