---
layout: default
---
<div class="post">
  <article>
	  <div class="ui text container" style="padding-top: 2em;padding-bottom: 2em;">
	    <div class="ui grid" style="padding-bottom: 2em;">
	      <div class="left floated eight wide column">
	        <h1>{{ page.title }}</h1>
	      </div>
	      <div class="right floated right aligned eight wide column">
	        <span>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</span><img class="ui circular mini spaced image" src="/assets/images/{{page.authorImage}}">
	      </div>
	    </div>
	    {{ content }}
	  </div>
  </article>

</div>
